body {
    font-family: Calibri, sans-serif;
}

.add-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(202, 228, 244)
}

.input-field {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 12px 20px;
    border: 1px solid transparent;
}

.input-field input[type="text"], 
.input-field select {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-left: 10px;
}

.input-field input[type="text"]:focus,
.input-field select:focus {
    border: 3px solid #555;
}

.input-field input[type="password"], 
.input-field select {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-left: 10px;
}

.input-field input[type="password"]:focus,
.input-field select:focus {
    border: 3px solid #555;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.modify-button {
    background-color: #00326f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px

}

.accept-button {
    background-color: #006f32;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px
}

.completed-button {
    background-color: #6f004f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px
}

.options-button {
    background-color: #95bfe0;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}

.history-button {
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;

}

button:hover {
    background-color: #9ebebe;
}

.button-container {
    display: flex;
    gap: 5px;
}
.react-datepicker {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 12px 20px;
    border: 1px solid;
}
  .react-datepicker__header {
    padding-top: 3px;
    line-height: 10px;
    background-color: #a6bee3;
    border: 1px solid;
  }

  .react-datepicker__today-button {
    padding-top: 3px;
    line-height: 10px;
    background-color: #a6bee3;
    border: 1px solid;
  }

  .react-datepicker__month {
    margin: 1px 1px;
  }
  .react-datepicker__day-name, .react-datepicker__day {
    width: 30px;
    line-height: 20px;
    margin: 1px;
  }
  .react-datepicker__current-month {
    font-size: 12px;
  }
  .react-datepicker__year-select,
  .react-datepicker__month-select {
    font-size: 10px;
    padding: 4px;
    width: 80px;
    height: 40px;
}

.overdue-status {
    color: red;
    font-weight: bold;
}